
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background: #2c3e50;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.logo {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #1abc9c;
}

.section {
  padding: 60px 50px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.section p {
  max-width: 700px;
  margin: auto;
  color: #555;
}

.home {
  background: #ecf0f1;
  padding: 100px 50px;
}

.home h2 span {
  color: #1abc9c;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #1abc9c;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}


.content {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.content div {
  width: 45%;
  text-align: left;
}


.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  min-width: 250px;
}

.project-card a {
  text-decoration: none;
  color: #1abc9c;
  font-weight: bold;
}

.social a {
  text-decoration: none;
  color: #1abc9c;
}

footer {
  background: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 15px;
}
